<!doctype html>
<html>
	<head><title>{{clinic}} clinic</title></head>
	<style>
		body{margin:100px;font-size:25;background-image:url("../static/clinic.jpg");background-size:cover;}
		p{font-size:100px}
	</style>
	<body>
		<h1 style = "font-size:40px"><center><mark>{{clinic}} clinic</mark></center></h1>
		<h2 style = "font-size:30px"><center><mark>Number of patients in {{clinic}} clinic is : {{count[0]}}</mark></center</p>
		<p style = "font-size:20px"><a href = "{{url_for('Back')}}"><mark>Back to main page ?</mark></p>